.explore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background);

    .explore-header {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        place-items: center;
        padding: 10px 20px;
        background-color: var(--header-background);
        border-bottom: 1px solid var(--border-color);

        h1 {
            margin-top: 5px;
            font-size: 28px;
            color: var(--primary-text);
        }
    }

    .tabs {
        width: 100%;
        display: flex;
        border-bottom: 1px solid var(--border);

        .tab-button {
            flex: 1;
            background: none;
            border: none;
            color: var(--text);
            font-size: 15px;
            font-weight: 500;
            padding: 16px 0;
            position: relative;
            cursor: pointer;

            &.active::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 56px;
                height: 4px;
                background-color: var(--primary);
                border-radius: 9999px;
            }

            &:hover {
                background-color: var(--hover);
            }
        }
    }
}

.search-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    border: 0.1rem solid var(--primary);
    border-radius: 20px;

    .search-input-container {
        display: flex;
        align-items: center;
        background: var(--background);
        border-radius: 24px;
        padding: 0.5rem;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
        position: relative;
    }

    .search-icon {
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
        color: #888;
        svg {
            width: 20px;
            height: 20px;
        }
    }

    input[type="text"] {
        flex: 1;
        border: none;
        background: transparent;
        outline: none;
        font-size: 1rem;
        padding: 0.5rem 0;
        color: var(--text);
    }

    input[type="text"]::placeholder {
        color: #aaa;
        opacity: 1;
    }

    .users-list {
        top: 110%;
        left: 0;
        width: 100%;
        background: var(--background);
        border-radius: 12px;
        box-shadow: 0 4px 16px var(--secondary);
        margin: 0;
        padding: 0.5rem 0;
        z-index: 10;
        list-style: none;
        display: flex;
        flex-direction: column;

        .user-card {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
                background: var(--hover);
            }

            .user-image {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.75rem;
            }

            .username {
                font-size: 1rem;
                color: var(--primary);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-weight: 500;
            }
        }
    }
    .recent-searches {
        margin-top: 4px;
        background-color: var(--background);
        border-radius: 16px;
        box-shadow: 0 0 10px var(--secondary);
        z-index: 10;
        overflow: hidden;

        .recent-searches-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            border-bottom: 1px solid var(--border);

            h3 {
                font-size: 20px;
                font-weight: 700;
            }

            .clear-button {
                background: none;
                border: none;
                color: var(--primary);
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .recent-search-list {
            list-style: none;
            padding: 0;
            margin: 0;

            .recent-search-item {
                display: flex;
                align-items: center;
                padding: 16px;
                cursor: pointer;

                &:hover {
                    background-color: var(--hover);
                }

                .search-history-icon {
                    margin-right: 12px;
                    color: var(--secondary);

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

.dropdown-list {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: var(--background);
    border-radius: 12px;
    box-shadow: 0 4px 16px var(--secondary);
    z-index: 10;
    overflow: hidden;
}

.tab-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .hashtag-list {
        display: flex;
        justify-content: space-evenly;

        .hashtag-btn {
            color: var(--primary);
            background-color: var(--background);
            border: none;
        }

        .hashtag-btn:hover {
            text-decoration: underline;
        }

        .hashtag-btn.selected {
            color: black;
            background-color: var(--primary);
            text-decoration: underline;
            border-radius: 10px;
            padding: 5px;
        }
    }
}

.standard-button {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--primary-hover);
    }
}
